Repository binary-com/deriv-com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ashkanx, @habib-binary, @reza-fs, @sean-binary, @suthesan-deriv, @yashim-deriv, @kevinw-deriv, @njazuli-deriv

feat: add responsive style properties to header and text component
  src/components/elements/typography.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

qa issues relted to padding,.. fixed
  src/pages/landing/weekend-trading/components/_hero.js
  src/pages/landing/weekend-trading/components/_icon-text-row.js
  src/pages/landing/weekend-trading/components/_image-text-switching.js
  src/pages/landing/weekend-trading/components/_title-btn.js
Owners: @habib-binary, @sean-binary, @njazuli-deriv, @suthesan-deriv, @kevinw-deriv, @yashim-deriv

qa2
  src/pages/landing/weekend-trading/components/_icon-text-row.js
  src/pages/landing/weekend-trading/components/_image-text-switching.js
  src/pages/landing/weekend-trading/index.js
Owners: @habib-binary, @sean-binary, @njazuli-deriv, @suthesan-deriv, @kevinw-deriv, @yashim-deriv

Initial Commit
  .eslintrc
  __mocks__/file-mock.js
  __tests__/__snapshots__/localized-link.test.js.snap
  __tests__/localized-link.test.js
  jest-preprocess.js
  jest.config.js
  loadershim.js
  package-lock.json
  package.json
  src/components/containers/show.js
Owners: @habib-binary, @sean-binary, @yashim-deriv, @ashkanx, @reza-fs, @suthesan-deriv, @kevinw-deriv, @njazuli-deriv

increase width of livechat iframe when chat window opened
  src/components/hooks/use-livechat.js
  src/components/layout/livechat.js
  src/pages/help-centre/_didnt-find-answer.js
  src/pages/livechat/index.js
  src/pages/partners/payment-agent/_faq-data.js
  src/pages/regulatory/_financial_commission.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

revert to 63 %
  src/components/layout/footer/disclaimer.js
  src/components/layout/layout.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

flexible multiple markets for eu
  src/pages/dmt5/_flexibility.js
Owners: @habib-binary, @sean-binary, @njazuli-deriv, @suthesan-deriv, @kevinw-deriv, @yashim-deriv

feat: added preliminary list of test (desc only)
  __tests__/__snapshots__/localized-link.test.js.snap
  __tests__/localized-link.test.js
  jest.config.js
Owners: @ashkanx, @habib-binary, @reza-fs, @sean-binary, @yashim-deriv

feat: add test case
  __mocks__/localized_link.js
  __tests__/__snapshots__/localized-link.test.js.snap
  __tests__/localized-link.test.js
  package-lock.json
  package.json
Owners: @ashkanx, @habib-binary, @reza-fs, @sean-binary, @yashim-deriv

replaced inset
  src/components/custom/_dhero.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

nikolai.berestevich/text/UKGC-license-deleted-text- (#2064)
  src/components/layout/footer/disclaimer.js
  src/pages/regulatory/index.js
  static/tnc/deriv-(europe)-limited.pdf
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

interest free trading
  src/pages/dmt5/_interest_free_trading.js
Owners: @habib-binary, @sean-binary, @njazuli-deriv, @suthesan-deriv, @kevinw-deriv, @yashim-deriv

qa3
  src/pages/landing/weekend-trading/components/_hero.js
  src/pages/landing/weekend-trading/components/_icon-text-row.js
  src/pages/landing/weekend-trading/components/_image-text-switching.js
  src/pages/landing/weekend-trading/components/_title-btn.js
Owners: @habib-binary, @sean-binary, @njazuli-deriv, @suthesan-deriv, @kevinw-deriv, @yashim-deriv

calculator link
  src/components/layout/footer/additional-eu.js
  src/pages/dmt5/_margin_calculator.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

fix: add @media to footer links to fix black space
  src/components/layout/footer/common/style.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

fix: add @media to footer links to fix black space#1
  src/components/layout/footer/common/style.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

fix: add @media to footer links to fix black space
  src/components/layout/footer/common/style.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

fix: add @media to footer links to fix black space#1
  src/components/layout/footer/common/style.js
Owners: @habib-binary, @sean-binary, @suthesan-deriv, @kevinw-deriv, @yashim-deriv, @njazuli-deriv

regulatory page update
  src/pages/regulatory/index.js
Owners: @habib-binary, @sean-binary, @njazuli-deriv, @suthesan-deriv, @kevinw-deriv, @yashim-deriv

version tag test
  .github/workflows/production.yml
  src/components/containers/seo.js
Owners: @habib-binary, @sean-binary, @yashim-deriv, @suthesan-deriv, @kevinw-deriv, @njazuli-deriv

.github/CODEOWNERS:

# ==================================================================================
# ==================================================================================
#                                Deriv CODEOWNERS
# ==================================================================================
# ==================================================================================
#
#  Configuration of code ownership and review approvals for the binary-com/deriv-com repo.
#
#  More info: https://help.github.com/articles/about-codeowners/
#


# ================================================
#  General rules / philosophy
# ================================================
#
#  - we trust that people do the right thing and not approve changes they don't feel confident reviewing
#  - we use github teams so that we funnel code reviews to the most appropriate reviewer, this is why the team structure is fine-grained
#  - we enforce that only approved PRs get merged to ensure that unreviewed code doesn't get accidentally merged
#  - we delegate approval rights as much as possible so that we can scale better
#  - each group must have at least one person, but several people are preferable to avoid a single point of failure issues
#
#  Configuration nuances:
#
#  - This configuration works in conjunction with the protected branch settings that require all changes to be made via pull requests with at least one approval.
#  - This approval can come from an appropriate codeowner, or any repo collaborator (person with write access) if the PR is authored by a codeowner.
#  - Each codeowners team must have write access to the repo, otherwise their reviews won't count.
#
#  In the case of emergency, the repo administrators can bypass this requirement.



# ================================================
#  GitHub username registry
#  (just to make this file easier to understand)
# ================================================

#  ashkanx
#  habib-binary
#  kevinw-deriv
#  njazuli-deriv
#  reza-fs
#  sean-binary
#  suthesan-deriv
#  yashim-deriv

######################################################################################################
#
# CODEOWNERS rules
# -----------------
#
# All the following rules are applied in the order specified in this file.
# The last rule that matches wins!
#
# See https://git-scm.com/docs/gitignore#_pattern_format for pattern syntax docs.
#
######################################################################################################


# ==============================================================
#  Default Owners
# (in case no pattern matches a path in a PR - this should be treated as a bug and result in adding the path to CODEOWNERS)
# ==============================================================

*                                                               @ashkanx @habib-binary @reza-fs @sean-binary



# ==============================================================
#  deriv-com/translations
# ==============================================================

/src/translations/*                                             @suthesan-deriv @habib-binary @sean-binary
/crowdin/*                                                      @suthesan-deriv @habib-binary @sean-binary
/scripts/*                                                      @suthesan-deriv @habib-binary @sean-binary


# ==============================================================
#  deriv-com/config
# ==============================================================

/*                                                              @habib-binary @sean-binary @yashim-deriv
/.github/**/*                                                   @habib-binary @sean-binary @yashim-deriv
/.husky/*                                                       @habib-binary @sean-binary @yashim-deriv


# ==============================================================
#  deriv-com/shared-components
# ==============================================================

/src/common/**/*                                                @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv
/src/components/**/*                                            @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv
/src/themes/**/*                                                @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv


# ==============================================================
#  deriv-com/shared-assets
# ==============================================================

/src/images/**/*                                                @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv
/src/lotties/**/*                                               @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv
/static/**/*                                                    @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv
/documents/**/*                                                 @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv
/favicons/**/*                                                  @habib-binary @sean-binary @suthesan-deriv @kevinw-deriv @yashim-deriv @njazuli-deriv


# ==============================================================
#  deriv-com/pages
# ==============================================================

/src/pages/**/*                                                 @habib-binary @sean-binary @njazuli-deriv @suthesan-deriv @kevinw-deriv @yashim-deriv
